<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="/bower_components/vaadin-form-layout/vaadin-form-item.html">
<link rel="import" href="/bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs-icons.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/bower_components/vaadin-material-theme/vaadin-date-picker.html">
<link rel="import" href="/bower_components/vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="platypus-users-form">
    <template>
        <style include="vaadin-date-picker-styles">
            paper-button[toggles][active] {
                background: var(--paper-red-700);
                /*background: #b71c1c;*/
            }

            #form.platypus-form-view paper-input {
                /*background-color: #0d47a1;*/
            }

            paper-input {
                --paper-input-container-disabled: {
                    opacity: 0.70;
                };
            }

            .form-group {

            }

            .input {
                width: 100%;
            }

            paper-tabs {
                background-color: var(--paper-blue-900);
                color: #fff;
            }
        </style>
        <paper-button id="editBtn" toggles on-click="enterEditMode">
            <iron-icon icon="editor:mode-edit"></iron-icon>
            Edit
        </paper-button>
        <vaadin-form-layout id="form" class="platypus-form-view">
            <div class="form-group">
                <vaadin-text-field class="input input-string" label="Last Name" value="Doe"></vaadin-text-field>
                <vaadin-text-field class="input input-string" label="First Name" value="Jane"></vaadin-text-field>
            </div>
            <div class="form-group">
                <vaadin-text-field class="input input-string" label="Email"
                                   value="jane.doe@example.com"></vaadin-text-field>
                <vaadin-text-field class="input input-string" label="Confirm Email"
                                   value="jane.doe@example.com"></vaadin-text-field>
            </div>
            <paper-tabs selected="{{tabSelected}}" colspan="2" id="notepad">
                <paper-tab>TAB 1</paper-tab>
                <paper-tab>TAB 2</paper-tab>
                <paper-tab>TAB 3</paper-tab>
            </paper-tabs>

            <iron-pages
                    selected="[[tabSelected]]"
                    attr-for-selected="tab"
                    fallback-selection="0"
                    colspan="2">
                <div tab="0">
                    <h1>Classic Input</h1>
                    <vaadin-form-layout id="tab_0_form" class="platypus-form-view">
                        <vaadin-text-field class="input input-string" label="Classic input"></vaadin-text-field>
                        <vaadin-text-field class="input input-string" label="Classic input"></vaadin-text-field>
                        <div>
                            <vaadin-date-picker class="input input-calendar"></vaadin-date-picker>
                        </div>
                    </vaadin-form-layout>
                </div>
                <div tab="1"><h1>PAGE 2</h1></div>
                <div tab="2"><h1>PAGE 3</h1></div>
            </iron-pages>
        </vaadin-form-layout>
    </template>

    <script>
        /**
         * `platypus-form`
         * A Form Wrapper for the platypus framework
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PlatypusUsersForm extends Polymer.Element {
            static get is() {
                return 'platypus-users-form';
            }

            static get properties() {
                return {
                    mode: {
                        type: String,
                        value: 'edit'
                    },
                    tabSelected: {
                        type: Number,
                        value: 0,
                        observer: '_tabChanged',
                    }
                };
            }

            ready() {
                super.ready();
                this.enterEditMode()
            }

            _tabChanged() {
                console.log(this.tabSelected)
            }

            enterEditMode() {
                let active = this.$.editBtn.active;
                this.root.querySelectorAll('.input').forEach(function (node) {
                    node.disabled = !active;
                });
                if (this.$.editBtn.active) {
                    this.mode = 'edit';
                    this.$.form.classList.remove('platypus-form-view');
                    this.$.form.classList.add('platypus-edit');
                } else {
                    this.mode = 'view';
                    this.$.form.classList.add('platypus-form-view');
                    this.$.form.classList.remove('platypus-edit');
                }

            }
        }

        window.customElements.define(PlatypusUsersForm.is, PlatypusUsersForm);
    </script>
</dom-module>
