<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="/bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-column.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="platypus-users-tree">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            
        </style>
        <iron-ajax auto
                   url="http://127.0.0.1:8080/users/search"
                   handle-as="json"
                   last-response="{{data}}">
        </iron-ajax>

        <app-toolbar>
            <paper-icon-button icon="menu"></paper-icon-button>
            <div main-title>List of users</div>
            <paper-icon-button icon="search"></paper-icon-button>
        </app-toolbar>
        <div>
            <vaadin-grid items="[[data.result]]" column-reordering-allowed multi-sort>

                <vaadin-grid-selection-column frozen></vaadin-grid-selection-column>

                <vaadin-grid-column width="50px" flex-grow="0">
                    <template class="header">#</template>
                    <template>[[index]]</template>
                </vaadin-grid-column>

                    <vaadin-grid-column width="9em" resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="name">Login</vaadin-grid-sorter>
                        </template>
                        <template>[[item.name]]</template>
                        <template class="footer">
                            <vaadin-grid-sorter path="name">Login</vaadin-grid-sorter>
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column width="9em" resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="password">Password</vaadin-grid-sorter>
                        </template>
                        <template>[[item.password]]</template>
                        <template class="footer">
                            <vaadin-grid-sorter path="password">Password</vaadin-grid-sorter>
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column width="9em" resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="locale">The User Language</vaadin-grid-sorter>
                        </template>
                        <template>[[item.locale]]</template>
                        <template class="footer">
                            <vaadin-grid-sorter path="locale">The User Language</vaadin-grid-sorter>
                        </template>
                    </vaadin-grid-column>
            </vaadin-grid>
        </div>
    </template>

    <script>
        class PlatpusUsersTree extends Polymer.Element {
            static get is() {
                return 'platypus-users-tree';
            }
        }
        window.customElements.define(PlatpusUsersTree.is, PlatpusUsersTree);
    </script>
</dom-module>
